services:
  db:
    image: postgres:15-alpine
    container_name: riff
    restart: always
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - riff-data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4:9
    depends_on:
      - db
    ports:
      - '8080:80'
    environment:
      PGADMIN_DEFAULT_PASSWORD: ${PG_ADMIND_DEFAULT_PASSWORD}
      PGADMIN_DEFAULT_EMAIL: ${PG_ADMIND_DEFAULT_EMAIL}

volumes:
  riff-data:
